body {
   background-color: #e9e9f0;
   }
.footer {
  background-color: #2e34e5;
   position: fixed;
   right: 0;
   bottom: 0;
   text-align: center;
   width: 99%;
   font-size: 19px;
font-weight: bold;
  color: #fafaff;
 }
